In [1]:
import numpy as np
import pandas as pd
test_form = pd.read_csv("test_form.csv")
test_form

            Timestamp        q1  q2   q3
0   7/2/2025 13:39:24  Option 1   3  4.0
1   7/2/2025 13:39:31  Option 2   2  5.0
2   7/2/2025 13:39:37  Option 3   2  NaN
3   7/2/2025 13:39:44  Option 4   5  2.0
4   7/2/2025 13:39:49  Option 2   3  2.0
5   7/2/2025 13:39:57  Option 2   4  3.0
6   7/2/2025 13:40:04  Option 1   1  2.0
7   7/2/2025 13:40:12  Option 2   4  1.0
8   7/2/2025 13:40:24  Option 3   3  2.0
9   7/2/2025 13:40:48  Option 3   4  4.0
10  7/2/2025 13:41:08  Option 4   4  3.0
11  7/2/2025 13:41:39  Option 2   3  4.0
12  7/2/2025 13:42:02  Option 1   3  5.0